.n{
    font-size: 30px;
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    
}
marquee{
    font-family:tahoma;
    width: 100%;
    padding: 10px 0;
    background-color: #7eeca8;
    color: rgb(185, 7, 7);
    font-size: 20px;
   }
  
  form{
      font-size: 40px;
      background-color: darkslategrey;
      color: rgb(255, 255, 255);
      
  }
  
   
   
   center
  
  body{
      background-color: rgb(240, 0, 0);
  }
  .z{
      font-size: 35px;
      background-color: silver;
      
  }
  .s{
      font-size: 35px;
      background-color: silver;
  }
  p{
    
      font-size: 20px;
      background-color: burlywood;
      color: rgb(0, 0, 0);
  }
  .q{
      font-size: 25px;
      background-color: lightblue;
  }
  